.transaction-sec {
  width: 100%;
  min-height: 300px;
  padding: 10px 30px;

  .trans-search-sec {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  
    .searchInput {
      background-color: var(--card);
      height: 100%;
      flex: 0.8;
      box-shadow: 0px 0px 10px 7px var(--shadow);
    }

    .ant-input {
      padding: 5px !important;
      color: var(--black);
      
    }
    .anticon{
      color: var(--placeholderColor) !important;
    }
  


    .selectInput {
      height: 100%;
      flex: 0.2;
      box-shadow: 0px 0px 10px 7px var(--shadow);
      border-radius: 7px !important;
      background-color: var(--card);

    }
    .ant-select {
    }
    :where(.css-dev-only-do-not-override-1ae8k9u) .ant-select-selector {
      border: 1px solid #d9d9d9;
      border-width: 0;
    }
    span.ant-select-selection-item {
      font-weight: 500;
      font-size: 14px;
      color: #8f8c8c;
    }
  }

 

  .trans-table-sec {
    width: 100%;
    margin-top: 25px;
    min-height: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 7px var(--shadow);
    background-color: var(--card);
    .example {
      margin: 20px 0;
      margin-bottom: 20px;
      padding: 30px 50px;
      text-align: center;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    .table-row{
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      gap: 20px;
      padding: 10px;
      border-bottom: 1px solid var(--shadow);
     
      .heading{
        font-weight: 500;
        font-size: 18px;
        color: var(--black);
      }

      .ant-radio-button-wrapper{
        background-color: transparent !important;
        border-radius: 0px !important;
        
        margin-inline: 3px;
        span{
         color: var(--black) ;
        
        }
        
      }

      .imp-exp-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
       
       
      .ant-btn{
        width: 200px;
        padding-inline: 30px;
      }
      #exp-btn{
        background-color: transparent !important;
        color: var(--blue);
        &:hover{
          background-color: var(--blue) !important;
          color: var(--white)!important;
        }
      }
      .imp-label{
        width: 200px;
        padding: 10px 30px;
        font-size: 14px;
        color: var(--black);
        border-radius: 5px;
        background-color: var(--blue);
        color: var(--white);
        text-align: center;
        &:hover{
          background-color: transparent!important;
          color: var(--blue)!important;
          border: 1px solid var(--blue);
        }
      }
      }

    }
   
  }
}
.ant-table{
  background-color:  var(--card) !important;
  color: #fff !important;
  .ant-table-container{
    background-color: var(--card);
    border: none;
  }
  .ant-table-content{
    color: var(--black) !important;
  }

  .ant-table-thead{
    tr{
      .ant-table-cell{
        background-color: var(--card) !important;
        color: var(--black);
      }
     
    }
  }
 

 

}

:where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover {
  background: transparent !important; 
}

.ant-pagination-item{
  background-color: var(--card) !important;;
}
.ant-pagination-item-link{
  .anticon{
    color: var(--placeholderColor);
  }
  
}

.ant-empty-normal{
  background-color: transparent !important;
}

:where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-tbody >tr >td {

  background: var(--card) !important;

}
.ant-empty-description{
  color: var(--placeholderColor) !important;
}



@media screen and (max-width: 1100px) {
 
  .table-row{
    
    .heading{
      font-weight: 500 ;
      font-size: 14px !important;
    
    }
    .sort-tabs{
      flex: 1;
      width: 200px !important;
      text-align: center !important;
    }
  
    .ant-radio-button-wrapper{
     
      border-radius: 0px !important;
    
      span{
     
        font-size: 10px !important;
        padding: 5px !important;
      
      }
     
    }
    #exp-btn{
      width: 100px;
      font-size: 10px;
    }
    .imp-label{
      width: 100px !important;
      font-size: 10px !important;
      padding: 10px !important;
      text-align: center;
    }
  }
  .ant-table-cell{
    
    padding: 7px !important;
    font-size: 13px ;
   
  }
}

@media screen and (max-width: 700px) {
  .heading{
    font-weight: 500 ;
    font-size: 10px !important;
    
  
  }
  .ant-table-cell{
    
    padding: 5px !important;
    font-size: 10px ;
   
  }
.table-row{
  .ant-radio-button-wrapper{
 
    background-color: rgb(43, 226, 95) !important;
    span{
      font-size: 7px !important;
    }
  }
}
 
}